<ion-header>
  <ion-toolbar>
    <ion-title>AgroTec</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

<head>
	Aplicación AgroTec
</head>
<body>

<H1>
	Bienvenido a AgroTec
</H1>


<ion-button (click)="goTem()">
	TEMPERATURA
</ion-button>

<ion-button (click)="goHum()">
	HUMEDAD
</ion-button>


<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/47/Universidad_Nacional_de_Colombia_-_Escudo_2016.svg/1200px-Universidad_Nacional_de_Colombia_-_Escudo_2016.svg.png"
width="95"
height="120"
align="center">
</body>


</ion-content>
